@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(40, 213, 83, 1) 0%, rgba(34, 193, 195, 1) 100%);
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 9px;
  overflow: hidden;
}

.display {
  grid-column: 1 / -1;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 10rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 8px 3px #b8b9be, -3px -3px 6px #fff;
  word-break: break-all;
  overflow: hidden;
}

.display .pre-calculation {
  font-size: 2rem;
  opacity: 0.6;
}

.display .cur-calculation {
  font-size: 4rem;
}

.top-line {
  border-top: 1px solid black;
}

.btn {
  font: 500 2.5rem 'Roboto', sans-serif;
  height: 6rem;
  margin: 3px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #b4b6bd, -2px -2px 5px #fff;
}

.number {
  color: #393e46;
}

.operation {
  background-color: #08d9d6;
}

.equal {
  background-color: #fce38a;
}

.special-operation,
.clear-all,
.clear-entry,
.delete {
  background-color: #ffc7c7;
}

.btn:hover {
  box-shadow: inset 3px 3px 7px #b4b6bd, inset -2px -2px 5px #fff;
}
